[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".\\bundle\\nerdtree"]
	path = .\\bundle\\nerdtree
	url = https://github.com/scrooloose/nerdtree.git
