[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/project"]
	path = bundle/project
	url = https://github.com/amiorin/vim-project.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-twig"]
	path = vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/yajs"]
	path = bundle/yajs
	url = https://github.com/othree/yajs.vim.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/validator"]
	path = bundle/validator
	url = https://github.com/maralla/validator.vim
[submodule "bundle/vim-js-pretty-template"]
	path = bundle/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
